In this notebook, we will explore how data cleaning with SQL differs from Python, using the same dataset as in the cleaning_examples_python notebook.

**It is important to note** that data from a Data Warehouse (DWH) usually does not come as a single, ready-to-use analytical table. Instead, we often need to write SQL queries to join data from different tables.

In another project, I will simulate the actual data tables I work with and demonstrate how to combine them efficiently and use them for analysis.

In [ ]:
import duckdb as db
# duckdb is an in-process SQL OLAP database management system. It is designed to support analytical query workloads. 
# I dont want to install a full database system like PostgreSQL or MySQL just for data cleaning. DuckDB allows me to run SQL queries directly on CSV files and other data formats without needing a separate server.
# I <3 duck

In [ ]:
db.sql("SELECT * FROM 'data_to_be_cleaned.csv'")
# duckdb can run queries directly not only on csv files but also on pandas dataframes and more. 
# Which makes it super versatile for data tasks.

┌───────────────┬───────────────────┬─────────────────────┬───────────┬─────────────────────┬────────────┐
│ TransactionID │      Client       │     Beneficiary     │ AmountUSD │ TransactionDateTime │ ClientTier │
│     int64     │      varchar      │       varchar       │  double   │      timestamp      │  varchar   │
├───────────────┼───────────────────┼─────────────────────┼───────────┼─────────────────────┼────────────┤
│             1 │  Darth Vader      │  Luke Skywalker     │     120.5 │ 2024-06-01 12:30:00 │  Gold      │
│             2 │  <Frodo Baggins>  │  Gandalf the Grey   │      NULL │ 2024-06-01 12:31:00 │  Silver    │
│             3 │  Tony Stark       │  Bruce Banner       │     300.4 │ 2024-06-01 12:32:00 │  Gold      │
│             4 │  Tony Stark       │  Bruce Banner       │     300.4 │ 2024-06-01 12:32:00 │  Gold      │
│             5 │  Jon Snow.        │  Daenerys Targaryen │    150.75 │ 2024-06-01 12:33:00 │  Platinum  │
│             6 │  Harry*Potter     │  Hermione Granger   │     200.0 │ 2024-06-01 12:34:00 │  Gold      │
│             7 │  Luke Skywalker   │  Han Solo           │      90.0 │ 2024-06-01 12:35:00 │  Silver    │
│             8 │  Katniss Everdeen │  Peeta Mellark      │     120.0 │ 2024-06-01 12:36:00 │  Bronze    │
│             9 │  Michael Scott.   │  Dwight Schrute     │      85.0 │ 2024-06-01 12:37:00 │  Silver    │
│            10 │  Walter White     │  Jesse Pinkman      │      70.0 │ 2024-06-01 12:38:00 │  Gold      │
│             · │      ·            │       ·             │        ·  │          ·          │   ·        │
│             · │      ·            │       ·             │        ·  │          ·          │   ·        │
│             · │      ·            │       ·             │        ·  │          ·          │   ·        │
│            31 │  Tony Stark       │  Steve Rogers       │     310.0 │ 2024-06-01 12:58:00 │  Platinum  │
│            32 │  Michael Corleone │  Sonny Corleone     │     125.0 │ 2024-06-01 12:59:00 │  Silver    │
│            33 │  Jack Sparrow     │  Davy Jones         │     140.0 │ 2024-06-01 13:00:00 │  Gold      │
│            34 │  Fox Mulder       │  Dana Scully        │      75.0 │ 2024-06-01 13:01:00 │  Bronze    │
│            35 │  Harry Potter     │  Ron Weasley        │     190.0 │ 2024-06-01 13:02:00 │  Gold      │
│            36 │  Mario            │  Luigi              │      85.0 │ 2024-06-01 13:03:00 │  Silver    │
│            37 │  Walter White     │  Skyler White       │      65.0 │ 2024-06-01 13:03:00 │  Bronze    │
│            38 │  Bruce Wayne      │  Joker              │     255.0 │ 2024-06-01 13:06:00 │  Platinum  │
│            39 │  Optimus Prime    │  Megatron           │     100.0 │ 2024-06-01 13:09:00 │ NULL       │
│            40 │  Clark Kent       │  Lois Lane          │     210.0 │ 2024-06-01 13:10:00 │  Silver    │
├───────────────┴───────────────────┴─────────────────────┴───────────┴─────────────────────┴────────────┤
│ 40 rows (20 shown)                                                                           6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘